@font-face {
  font-family: "Permanent Marker";
  src: url("../fonts/PermanentMarker-Regular.ttf");
}

main {
  width: 1000px;
  height: 1320px;
  background-color: white;
  border: 15px solid #050505;
  /* background-image: url(../img/orders2.png); */
  box-shadow: 10px 10px 10px #050505;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
  margin-top: 10px;
  padding: 10px;
}

p {
  text-decoration: none;
  font-family: "Permanent Marker";
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 2px;
  color: #050505;
  /* text-shadow: 2px 2px 1px #7b7b7b; */
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: pre-line;
  padding: 20px;
}
