@font-face {
  font-family: "Permanent Marker";
  src: url("../fonts/PermanentMarker-Regular.ttf");
}

h1 {
  font-family: "Permanent Marker";
  font-size: 52px;
  display: inline-block;
  position: relative;
  color: aliceblue;
  padding-left: 20px;
  margin-top: 10px;
}

span {
  position: relative;
  top: 60px;
  left: -230px;
}

body {
  transition: all 2s ease-out;
}

img {
  width: 80%;
  height: 80%;
  border: 25px solid #050505;
  /* border-radius: 50px; */
  box-shadow: 25px 10px 10px #050505;
}

section {
  display: flex;
  flex-direction: column;
}

.img1 {
  align-self: flex-end;
}

.img2 {
  position: relative;
  top: -250px;
  left: 100px;
}

.img3 {
  align-self: flex-end;
  position: relative;
  top: -350px;
}
